<% layout('layouts/boilerplate.ejs') %>
<div class="container my-3" style="max-width: 600px;">
  <h1 class="text-center">Edit Campground</h1>
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="post" class="validate-form mt-3" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" type="text" name="campground[title]" id="title" value="<%= camp.title %>" required/>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">A campground always have a title!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input class="form-control" type="text" name="campground[location]" id="location" value="<%= camp.location %>" required/>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Location required</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Add Images</label>
        <input class="form-control" type="file" name="image" id="image" multiple/>
      </div>
      <label for="price" class="form-label">Price</label>
      <div class="input-group mb-3">
        <span class="input-group-text fw-bold" id="basic-addon1">₹</span>
        <input type="text" class="form-control" placeholder="0.00" name="campground[price]" value="<%= camp.price %>" required>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Price required</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="campground[description]" id="description" required><%= camp.description %></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Add a description to tell people more about your campground!</div>
      </div>
      <div class="mb-3" style="width: 400px;">
        <% camp.images.forEach((img, index) => { %>
          <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="" srcset="">
          <div class="form-check-inline">
            <input type="checkbox" id="image-<%= index %>" name="deleteImages[]" value="<%= img.filename%>">
          </div>
          <label for="image-<%= index %>">Delete?</label>
        <% }) %>
      </div>
      <div class="mb-3"><button class="btn btn-success" type="submit">Update Campground</button></div>
    </form>
</div>