<% layout('layouts/boilerplate.ejs') %>
<div class="my-3" id="map" style="width: 100%; height: 500px;"></div>
<h1 class="text-center">All Campgrounds!</h1>
<form id="form-search">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Campground">
    <button class="btn btn-primary" type="submit" id="btn-search">Search</button>
  </div>
</form>
<% for (let campground of campgrounds) { %>
  <div class="card my-3" data-campground>
    <div class="row">
      <div class="col-md-4">
        <% if (campground.images.length) { %>
          <img class="img-fluid" src="<%= campground.images[0].url %>" alt="campground image">
        <% } else { %>
          <img class="img-fluid" src="" alt="campground image">
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" id="campground-title" ><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text"><small class="text-muted"><%= campground.location %></small></p>
          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
</script>

<script src="/js/cluster-map.js"></script>
<script src="/js/search-campgrounds.js"></script>