<% layout('layouts/boilerplate.ejs') %>
<div class="row my-3">
  <div class="col-6" id="card-1">
    <div class="card my-3">
      <img src="<%= camp.image %>" class="card-img-top" alt="campground image">
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= camp.location %></li>
        <li class="list-group-item">By <%= camp.author.username %></li>
        <li class="list-group-item"><span class="fs-5">₹</span> <%= camp.price %></li>
      </ul>
      <% if (currentUser && camp.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-warning">Edit</a>
        <a href="/campgrounds/<%= camp._id %>/delete" class="btn btn-danger">Delete</a>
      </div>
      <% } %>
    </div>
  </div>
  <!-- Force next columns to break to new line -->
  <div class="w-100" id="div-to-hide"></div>
  <div class="col-6" id="card-2" style="margin-block: 1rem;">
    <% if (currentUser) { %>
    <h2>Leave a review</h2>
    <form class="validate-form my-3" action="/campgrounds/<%= camp._id %>/reviews" method="post" novalidate>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Review can't be empty!</div>
      </div>
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
    <% } %>
    <% for (let review of camp.reviews) {%>
    <div class="card my-3">
      <div class="card-body mb-3">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= review.author.username %></h6>
        <p class="card-text">Review: <%= review.body %></p>
        <% if (currentUser && review.author.equals(currentUser._id)) {%>
        <form action="/campgrounds/<%= camp._id %>/reviews/<%= review._id%>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script>
  function responsiveCard() {
    const screenWidth = screen.width;
    const card1 = document.getElementById('card-1');
    const card2 = document.getElementById('card-2');
    const div = document.getElementById('div-to-hide');
    if (screenWidth <= 768) {
      if (card1.classList.contains('col-6')) {
        card1.classList.remove('col-6');
        card1.classList.add('col-12');
      }
      if (card2.classList.contains('col-6')) {
        card2.classList.remove('col-6');
        card2.classList.add('col-12');
      }
      if (div.classList.contains('d-none')) {
        div.classList.remove('d-none');
      }
    } else {
      if (card1.classList.contains('col-12')) {
        card1.classList.remove('col-12');
        card1.classList.add('col-6');
      }
      if (card2.classList.contains('col-12')) {
        card2.classList.remove('col-12');
        card2.classList.add('col-6');
      }
      if (!div.classList.contains('d-none')) {
        div.classList.add('d-none');
      }
    }
  }
  window.onresize = responsiveCard();
</script>